%color-theme--light {
  --terminal-black: #3b3b3b;
  --terminal-blue: #0431fa;
  --terminal-green: #abc994; // TBD
  --terminal-cyan: #b7b8cb; // TBD
  --terminal-red: #be4535; // TBD
  --terminal-magenta: #af00db;
  --terminal-yellow: #cbcaaa; // TBD
  --terminal-white: #ccc; // TBD
  --terminal-dim: #8e8e90;

  --primary-color: var(--terminal-black);
  --secondary-color: var(--terminal-dim);
  --link-color: var(--terminal-blue);
  --background-color: #f8f8f8;
  --foreground-color: #ffffff;
  --border-color: #e5e5e5;
}

%color-theme--dark {
  --terminal-black: #757575; // TBD
  --terminal-blue: #79b8ff;
  --terminal-green: #abc994; // TBD
  --terminal-cyan: #b7b8cb; // TBD
  --terminal-red: #be4535;
  --terminal-magenta: #da70d6;
  --terminal-yellow: #cbcaaa; // TBD
  --terminal-white: #ccc;
  --terminal-dim: #8c8c8c;

  --primary-color: var(--terminal-white);
  --secondary-color: var(--terminal-dim);
  --link-color: var(--terminal-blue);
  --background-color: #181818;
  --foreground-color: #1f1f1f;
  --border-color: #2b2b2b;
}

:root {
  &,
  &[data-color-theme='light'] {
    @extend %color-theme--light;
  }

  &[data-color-theme='dark'] {
    @extend %color-theme--dark;
  }
}
