%color-theme--light {
  --primary-color: #3b3b3b;
  --secondary-color: #8e8e90;
  --link-color: #0431fa;
  --highlight-color: #af00db;
  --background-color: #f8f8f8;
  --foreground-color: #ffffff;
  --border-color: #e5e5e5;
}

%color-theme--dark {
  --primary-color: #cccccc;
  --secondary-color: #8c8c8c;
  --link-color: #79b8ff;
  --highlight-color: #da70d6;
  --background-color: #181818;
  --foreground-color: #1f1f1f;
  --border-color: #2b2b2b;
}

:root {
  &,
  &[data-color-theme='light'] {
    @extend %color-theme--light;
  }

  &[data-color-theme='dark'] {
    @extend %color-theme--dark;
  }
}
