%color-theme--light {
  --terminal-black: #3b3b3b;
  --terminal-blue: #0431fa;
  --terminal-green: #66b12d;
  --terminal-cyan: #23caca;
  --terminal-red: #be4535;
  --terminal-magenta: #af00db;
  --terminal-yellow: #edda0c;
  --terminal-white: #ddd;
  --terminal-orange: #ee9836;
  --terminal-dim: #aaa;

  --primary-color: var(--terminal-black);
  --secondary-color: var(--terminal-dim);
  --link-color: var(--terminal-blue);
  --background-color: #f8f8f8;
  --foreground-color: #ffffff;
  --border-color: #e5e5e5;
}

%color-theme--dark {
  --terminal-black: #444;
  --terminal-blue: #4698f4;
  --terminal-green: #66b12d;
  --terminal-cyan: #23caca;
  --terminal-red: #be4535;
  --terminal-magenta: #da70d6;
  --terminal-yellow: #b5b11f;
  --terminal-white: #ccc;
  --terminal-orange: #ad6717;
  --terminal-dim: #888;

  --primary-color: var(--terminal-white);
  --secondary-color: var(--terminal-dim);
  --link-color: var(--terminal-blue);
  --background-color: #181818;
  --foreground-color: #1f1f1f;
  --border-color: #2b2b2b;
}

:root {
  &,
  &[data-color-theme='light'] {
    @extend %color-theme--light;
  }

  &[data-color-theme='dark'] {
    @extend %color-theme--dark;
  }
}
