.footer {
  position: relative;
  padding: 1rem;
  font-size: $font-size--small;
  color: var(--secondary-color);

  color-theme-toggle {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    font-size: 1.25rem;
  }
}

.footer-list {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;

  @media screen and (max-width: 767px) {
    justify-content: flex-start;
  }

  &__item {
    display: block;
  }

  &__item + &__item {
    margin-left: 1.5em;
  }
}

.footer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: inherit;
  text-decoration: none;

  &__icon {
    display: block;
  }

  &__icon + &__label {
    margin-left: 0.4em;
  }

  &:hover {
    color: var(--primary-color);
  }

  &:hover &__label {
    text-decoration: underline;
  }
}
