command-prompt {
  display: block;

  .output {
    position: relative;
    min-height: lines(1);
    word-break: break-word;

    &.is-command {
      color: var(--terminal-dim);
      display: flex;

      &::before {
        content: '# ';
        white-space: nowrap;
      }

      .command-input {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }

    &.is-error {
      color: var(--terminal-red);
    }
  }

  .output + .output.is-command {
    margin-top: lines(1);
  }

  .outputs:not(:empty) + .prompt {
    margin-top: lines(1);
  }

  .prompt {
    display: flex;

    &-label {
      display: block;
      cursor: text;

      &::before {
        content: '❯ ';
      }
    }

    &-input {
      @extend %input-reset;
      width: 100%;
    }

    // Avoiding zoom when focusing inputs on mobile devices
    @media screen and (max-width: 450px) {
      input[type='text'],
      input[type='text']:focus {
        font-size: 16px;
      }
    }
  }
}

command-prompt .output:nth-last-child(1 of .is-command)::after {
  content: '';
  position: absolute;
  top: 50%;
  left: -0.75em;
  $size: 0.3em;
  width: $size;
  height: $size;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: opacity 0.2s ease-in-out;
  background-color: var(--terminal-orange);
  box-shadow: 0 0 1px var(--terminal-orange);
  opacity: 0;
}

command-prompt.command-in-progress .output:nth-last-child(1 of .is-command)::after {
  animation: 0.5s dot-blink ease-in-out infinite;

  @keyframes dot-blink {
    from,
    to {
      opacity: 0.1;
    }
    50% {
      opacity: 1;
    }
  }
}
