command-prompt {
  display: block;

  .output {
    min-height: lines(1);

    &.is-command {
      color: var(--terminal-dim);

      &::before {
        content: '# ';
      }
    }

    &.is-error {
      color: var(--terminal-red);
    }
  }

  .prompt {
    display: flex;

    &-label {
      display: block;
      cursor: text;

      &::before {
        content: '❯ ';
      }
    }

    &-input {
      @extend %input-reset;
      width: 100%;
    }
  }
}
