@import './styles/variables.scss';
@import './styles/color-theme.scss';
@import './styles/extendables.scss';
@import './styles/base.scss';

@import './components/svg-icon/svg-icon.scss';
@import './components/typed-text/typed-text.scss';
@import './components/color-theme-toggle/color-theme-toggle.scss';
@import './components/command-prompt/command-prompt.scss';

body {
  display: flex;
  flex-direction: column;
}

.header {
  @extend %visually-hidden;
}

.main {
  flex: 1 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .terminal-maximized & {
    justify-content: flex-start;
  }

  @media screen and (max-width: 767px) {
    justify-content: flex-start;
  }
}

@import './styles/terminal.scss';
@import './styles/footer.scss';
