{% extends "./layouts/global.html" %} {% block head %} {{ super() }}

<script type="module" src="./index.ts"></script>

{% endblock %} {% block body %}

<header class="header">
  <h1>Simon Lepel</h1>
  <p>Personal website of <strong>Simon Lepel</strong> alias <strong>Simbo</strong>.</p>
</header>

<main class="main">
  <div class="content">
    <typed-text
      ><span code="1250"></span><strong>Hello World!</strong><span code="1000"></span><br />
      <span code="250"></span><br />
      <span code="250"></span>You just stumbled across my website.<span code="750"></span> You are so awesome.
      <span code="500"></span>.<span code="500"></span>.<span code="750"></span><br />
      <span code="250"></span><br />
      <span code="250"></span>There is not much to see here<span code="750"></span> but you can <span code="250"></span
      ><button>get in touch with me</button><span code="750"></span>, if you feel like you have to.
      <span code="500"></span> :)<span code="750"></span><br />
      <span code="250"></span><br />
      <span code="750"></span>Simon Lepel <span code="500"></span>~ <span code="500"></span>simbo<br />
      <span code="stop"></span><br />
      <span code="400"></span>
      {% for link in LINKS %} - <span code="400"></span
      ><a href="{{ link.href }}" target="_blank" class="link"
        > <span class="link__type">{{ link.type }}</span> <span class="link__label">{{ link.label }}</span></a
      ><br /><br />{% endfor %}
    </typed-text>
  </div>
</main>

<footer class="footer">
  <ul class="footer-list">
    {% for item in FOOTER_LINKS %}
    <li class="footer-list__item">
      <a class="footer-link" href="{{ item.href }}">
        {% if item.icon %}<svg-icon class="footer-link__icon" name="{{ item.icon }}"></svg-icon>{% endif %}<span
          class="footer-link__label"
          >{{ item.label }}</span
        ></a
      >
    </li>
    {% endfor %}
    <li class="footer-list__item">
      <span title="Last Build: {{ SITE_LAST_BUILD }}">v{{ SITE_VERSION }}</span>
    </li>
  </ul>
</footer>

{% endblock %}
