<!doctype html>
<html lang="en" style="visibility: hidden">
  <head>
    {% block head %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ SITE_TITLE }}</title>
    <meta name="description" content="{{ SITE_DESCRIPTION}}" />
    <meta name="author" content="{{ AUTHOR_NAME }}" />
    <meta name="copyright" content="{{ SITE_LICENSE }}" />
    <meta name="robots" content="index, follow" />
    <meta property="og:type" content="profile" />
    <meta property="og:title" content="{{ SITE_TITLE }}" />
    <meta property="og:url" content="{{ SITE_URL }}" />
    <meta property="og:image" content="{{ SITE_URL }}screenshot.png" />
    <meta property="og:description" content="{{ SITE_DESCRIPTION}}" />
    <meta property="profile:first_name" content="{{ AUTHOR_FIRST_NAME }}" />
    <meta property="profile:last_name" content="{{ AUTHOR_LAST_NAME }}" />
    <meta property="profile:username" content="{{ AUTHOR_USER }}" />
    <link rel="author" href="/humans.txt" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    {% if SITE_IS_PROD %}
    <script async data-website-id="dc9bc9e9-563f-451b-82b9-2fe74412aa78" src="https://trk.simbo.de/script.js"></script>
    {% endif %} {% endblock %}
  </head>
  <body onload="document.documentElement.removeAttribute('style');document.body.removeAttribute('onload');">
    {% block body %}{% endblock %}
  </body>
</html>
